* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: rgb(38, 34, 41);
    overflow: hidden;
    /* background-color: black; */
}

header{
    padding: 60px;
    
    display: flex;
    justify-content:flex-end;
}

header h1{
    color: rgb(107, 122, 148);
}

nav {
    margin-right: 30px;
}

li {
    display: inline-block;
    padding: 4px;
    margin: 0px 1px;
    list-style: none;
    color: rgba(236, 215, 94, 0.897);
    border-bottom: 1px solid rgb(54, 36, 70);
   
    transition: 
        border-bottom 0.12s ease-in-out,
}

li::before{
    content: "<";
    font-size: small;
    font-weight: lighter;
    visibility: hidden;
}
li::after{
    content: " />";
    font-size: small;
    font-weight: lighter;
    visibility: hidden;
}

li:hover {
    color: white;
}

li:hover::before{
    color: yellow;
    visibility: visible;
}
li:hover::after{
    color: yellow;
    visibility: visible;
}

main {
    padding: 60px;
    display: flex;
    justify-content: flex-start;
}

.icons{
    padding: 10px;
}

.icons svg {
    position: relative;
    padding: 6px;
    margin-top: 15px;
    color: yellow;
    display: block;
    
    /* animation-name: ;
    animation-duration: ;
    animation-timing-function: ;
    animation-delay: ;
    animation-iteration-count: ; */

    animation: 
        jumper 4s ease-in 15s infinite normal,
        shaker 0.1s ease-in 10s infinite normal,
        shaker2 2.5s linear 1s infinite normal;
}

.content {
    padding :10px;
    margin-left: 50px;

}

.content h1{
    color: transparent;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgba(236, 215, 94, 0.897), rgb(245, 133, 245));
    font-size: 45px;
    font-weight: bolder;
    display: inline-block;
}
p#info {
    color: white;
    padding: 10px 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 500;
}

p#CTA {
    background-color:deepskyblue;
    /* background-color: rgba(50, 203, 254, 0.86); */
    padding: 8px 30px;
    margin-top: 25px;
    color: black;
    font-weight: lighter;
    font-size: medium;
    border-radius: 30px;
    display: inline-block;
}

@keyframes jumper {

    from{
        transform: rotate(0deg);
      }

    12% {
        opacity: 0;
    }

    22%{
        transform: translateY(480px);
        
    }

    30% {
        transform: translateY(-480px);
        opacity: 0;
    }
   
    59% {
        opacity: 1;
    }

    60%{
        transform: translateY(0px) rotate(29deg);
        
    }

  
}

@keyframes shaker {

    from {
       left: -4px;
    }

   
    to {
        left: 0px;
  }
}

@keyframes shaker2 {

    from {
       top: -15px;
    }

   
    50% {
        top: 0px;
  }
}