* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: rgba(38, 24, 48, 0.961);
    overflow: hidden;
    /* background-color: black; */
}

.logo {
    position: absolute;
}

.design {
    margin-left: 55px;
    padding: 10px;
    width: 25px;
    height: 10px;
    background-color: rgb(250, 190,0);
    position: relative;
}

.design::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    border-top: 35px solid green;
    border-right: 5px solid transparent;
   /* width: 250px;
    height: 10px; */
}

header{
    padding: 30px 50px;
    
    display: flex;
    justify-content:flex-end;
}

header h1{
    color: rgb(107, 122, 148);
}

nav {
    margin-right: 30px;
}

li {
    display: inline-block;
    padding: 4px;
    margin: 0px 1px;
    list-style: none;
    color: rgb(200, 196, 0);
    border-bottom: 1px solid rgb(54, 36, 70);
   
    transition: 
        border-bottom 0.12s ease-in-out,
}

li::before{
    content: "<";
    font-size: small;
    font-weight: lighter;
    visibility: hidden;
}
li::after{
    content: " />";
    font-size: small;
    font-weight: lighter;
    visibility: hidden;
}

li:hover {
    color: white;
}

li:hover::before{
    color: yellow;
    visibility: visible;
}
li:hover::after{
    color: yellow;
    visibility: visible;
}

a#email {
    background-color: deepskyblue;
    padding:10px 15px;
    font-weight: 100;
    font-size: small;
    color: black;
    text-decoration: none;
}

main {
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
}

.icons{
    padding: 10px;
}

.icons svg {
    position: relative;
    padding: 6px;
    margin-top: 15px;
    color: yellow;
    display: block;
    animation: 
        jumper 4.5s linear 0s normal
        /* shaker 0.1s ease-in 10s infinite normal,
        shaker2 2.5s linear 1s infinite normal; */
}
.icons svg#twitter {
    position: relative;
    padding: 6px;
    margin-top: 15px;
    color: yellow;
    display: block;
    animation: 
        jumper1 4.5s linear 1s normal
        /* shaker 0.1s ease-in 10s infinite normal,
        shaker2 2.5s linear 1s infinite normal; */
}

.content {
    padding :10px;
    margin: 10px 50px;

}

.content h1{
    color: transparent;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(255, 190, 0), rgb(253, 253, 255));
    font-size: 45px;
    font-weight: bolder;
    display: inline-block;
}
p#info {
    color: white;
    padding: 10px 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 500;
}

p#CTA {
    background-color:deepskyblue;
    /* background-color: rgba(50, 203, 254, 0.86); */
    padding: 8px 30px;
    margin-top: 25px;
    color: black;
    font-weight: lighter;
    font-size: medium;
    display: inline-block;
}

@keyframes jumper { 
 8% {transform: translateY(480px);opacity: 0;}
 13% {opacity: 0;transform: translateY(-480px); }
 15% {opacity: 1;}
 22% {opacity: 1;transform: translateY(0px);}
 35% {opacity: 1;transform: translateY(-180px) rotate(-500deg);}
 38% {opacity: 1;transform: translateY(-190px) rotate(-600deg)}
 43% {opacity: 1;transform: translateY(-160px) rotate(-700deg)}
 55% {opacity: 1;transform: translateY(0px)}
 65% {opacity: 1;transform: translateY(-80px) rotate(-300deg)}
 68% {opacity: 1;transform: translateY(-90px) rotate(-400deg)}
 71% {opacity: 1;transform: translateY(-80px)rotate(-500deg)}
 78% {opacity: 1;transform: translateY(0px);}
 86% {opacity: 1;transform: translateY(-41px) rotate(50deg)}
 89% {opacity: 1;transform: translateY(-45px) rotate(70deg)}
 95% {opacity: 1;transform: translateY(0px) }
 98% {opacity: 1;transform: translateY(-10px) rotate(-28deg)}
 100% {opacity: 1;transform: translateY(0px) }
}
@keyframes jumper1 { 
 8% {transform: translateY(480px);opacity: 0;}
 13% {opacity: 0;transform: translateY(-480px); }
 15% {opacity: 1;}
 22% {opacity: 1;transform: translateY(0px);}
 35% {opacity: 1;transform: translateY(-180px) rotate(-500deg);}
 38% {opacity: 1;transform: translateY(-190px) rotate(-600deg)}
 43% {opacity: 1;transform: translateY(-160px) rotate(-700deg)}
 55% {opacity: 1;transform: translateY(0px)}
 65% {opacity: 1;transform: translateY(-80px) rotate(-300deg)}
 68% {opacity: 1;transform: translateY(-90px) rotate(-400deg)}
 71% {opacity: 1;transform: translateY(-80px)rotate(-500deg)}
 78% {opacity: 1;transform: translateY(0px);}
 86% {opacity: 1;transform: translateY(-41px) rotate(50deg)}
 89% {opacity: 1;transform: translateY(-45px) rotate(70deg)}
 95% {opacity: 1;transform: translateY(0px) }
 98% {opacity: 1;transform: translateY(-10px) rotate(-28deg)}
 100% {opacity: 1;transform: translateY(0px) }
}

@keyframes shaker {

    from {
       left: -4px;
    }

   
    to {
        left: 0px;
  }
}

@keyframes shaker2 {

    from {
       top: -15px;
    }

   
    50% {
        top: 0px;
  }
}